<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Learning Node-JS || Shelly Powers</title>
	
	<style>
		img { width: 40%; margin: 50px 0 10px 40px; }
		
		#demo {
			color: orange;
			font-size: 40px;
			margin-left: 10px;
		}
	</style>
	
</head>
<body>
	<h1>Learning Node-JS || Shelly Powers</h1>

	<!-- <img src="../public/images/phoenix5a.png" alt="Imagem de um pássaro de fogo." /> -->
	<img src="../public/images/phoenix5a.png" alt="Imagem de um pássaro de fogo." />
	
	<h3>Minha responsta foi <span id="demo"></span></h3>
	
	
	<script src="../public/scripts/myPromise-01.js"></script>
	
</body>
</html>